$browser-context: 16; // Default em(16)
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    font-display: swap;
    src: local($fname), url($furl) format('woff2');
  }
}
