// default font
$globalfont: 'Roboto', sans-serif; // font document
// connect fonts
@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    font-display: swap;
    src: local($fname), url($furl) format('woff2');
  }
}
@include font('Roboto', normal, 400, 'fonts/roboto-regular-webfont.woff2');
@include font('Roboto', italic, 400, 'fonts/roboto-italic-webfont.woff2');
@include font('Roboto', normal, 700, 'fonts/roboto-bold-webfont.woff2');
@include font('Roboto', italic, 700, 'fonts/roboto-bolditalic-webfont.woff2');
// default layout settings
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-weight: normal;
}
body {
  color: #000;
  font-weight: normal;
  font-style: normal;
  font-family: $globalfont;
  font-size: 100%;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
// This section for interface elements document
.container {
  max-width: 1170px; // width - padding right and left
  min-width: 320px;
  width: 100%;
  padding: 0 15px; // padding
  margin: 0 auto;
  position: relative;
}
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer {
  margin-top: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}
a,
button,
input,
textarea {
  border: none;
  box-shadow: none;
  border-radius: 0;
  outline: none;
}
